.action-buttons {
    display: flex;
    flex-direction: row;
}

.two-section {
    display: flex;
    flex-direction: row;
}

img {
    height: 90px;
    width: 60px;
    object-fit: cover;
    margin: 10px
}

#pointer {
    cursor: pointer;
}

.column-1 {
    margin: 7px;
}

.column-2 {
    margin: 7px;
    margin-left: auto;
}

#buy-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;
}

.alert {
    text-align: center;
    margin: 20px;
}