.action-buttons {
    display: flex;
    flex-direction: row;
}

.two-section {
    display: flex;
    flex-direction: row;
}

img {
    height: 90px;
    width: 60px;
    object-fit: cover;
    margin: 10px
}

#pointer {
    cursor: pointer;
}