
  <mat-toolbar color="primary">
    <button mat-icon-button class="icon" aria-label="icon-button with menu icon" [routerLink]="['']">
      <mat-icon>
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
      </mat-icon>
    </button>
    <span>My Cart</span>
    <span class="spacer"></span>
    <button mat-icon-button class="icon" aria-label="icon-button with cart icon" [routerLink]="['usercart/cart']">
      <mat-icon [matBadge]="cartLength" matBadgeColor="accent">
        <span class="material-symbols-outlined">
          shopping_cart_checkout
        </span>
      </mat-icon>
    </button>
    <div class="spacer-item"></div>
    <button mat-icon-button class="icon" aria-label="icon-button with profile icon" [matMenuTriggerFor]="profileOptions">
      <mat-icon>
        <span class="material-symbols-outlined">
          account_circle
        </span>
      </mat-icon>
    </button>
    <mat-menu #profileOptions="matMenu">
      <button mat-menu-item>
        <mat-icon class="icon">
          <span class="material-symbols-outlined">
            visibility
          </span>
        </mat-icon>
        Profile
      </button>
      <button mat-menu-item [routerLink]="['usercart/cart']" [queryParams]="{ order: true}">
        <mat-icon class="icon">
          <span class="material-symbols-outlined">
            grading
          </span>
        </mat-icon>
        Orders
      </button>
      <button mat-menu-item>
        <mat-icon class="icon">
          <span class="material-symbols-outlined">
            logout
          </span>
        </mat-icon>
        Logout
      </button>
    </mat-menu>
  </mat-toolbar>
<div class="container-div">
  <router-outlet></router-outlet>
</div>
