mat-card {
    height: 500px;
}
img {
    width: 150px;
    height: 200px;
    margin: auto;
}
.image-container {
    width: 100%;
    height: 200px;
    display: flex;
    margin: auto;
}
.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#pointer {
    cursor: pointer;
}